<div class="row">
    <div class="col-xs-1">
        <img id="adapterTemplateTitleImg" src="img/groups/common.png" class="img-responsive" alt="common"/>
    </div>
    <div class="col-xs-11">        
        <h1><strong id="adapterTemplateTitle">Bootstrap - Microsoft Metro Tiles</strong></h1>
    </div>
</div>
<div class="row" id="adapterTemplateTile">
    <div class="col-lg-2 col-md-3 col-sm-4 col-xs-5">
        <div class="tile purple">
            <h3 class="title">Purple Tile</h3>
            <p>Hello Purple, this is a colored tile.</p>
        </div>
    </div>
</div>