<div id="adapterTemplate">
    <div class="page-title">
        <div class="title_left">
            <div class="btn-group" role="group" aria-label="First group">
                <button id="btn_filter_adapters" class="btn btn-default" data-i18n-tooltip="installed adapters"><i class="fa fa-star"></i></button>
                <button id="btn_filter_updates" class="btn btn-default" data-i18n-tooltip="adapter with updates"><i class="fa fa-plus-circle"></i></button>
                <button id="btn_filter_custom_url" class="btn btn-default" data-i18n-tooltip="Install from custom URL"><i class="fa fa-github"></i></button>
                <button id="btn_upgrade_all" class="btn btn-default" data-i18n-tooltip="Upgrade all adapters"><i class="fa fa-refresh"></i></button>
                <button id="btn-adapters-expert-mode" class="btn btn-default" data-i18n-tooltip="expert-mode"><i class="fa fa-flask"></i></button>
            </div>
            <div class="btn-group" role="group" aria-label="Second group">
                <button id="btn_refresh_adapters" class="btn btn-default" data-i18n-tooltip="update adapter information"><i class="fa fa-info-circle"></i></button>
                <button id="btn_list_adapters" class="btn btn-default" data-i18n-tooltip="list"><i class="fa fa-list"></i></button>
                <button id="btn_collapse_adapters" class="btn btn-default" data-i18n-tooltip="collapse all"><i class="fa fa-folder"></i></button>
                <button id="btn_expand_adapters" class="btn btn-default" data-i18n-tooltip="expand all"><i class="fa fa-folder-open"></i></button>
            </div>
            <label for="host-adapters"><span data-i18n="host">Host</span></label>
            <select id="host-adapters"></select>         
        </div>       
        <div class="title_right">
            <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">

                <div class="input-group">
                    <input type="text" class="form-control clearable" id="adapters-filter" placeholder="Filter..." data-i18-attr="filter|placeholder">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" data-i18n="go">Go!</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div id="adapter-container"></div>
</div>


<!-- Group -->
<div id="adapterTemplateGroup" class="hidden">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">                   
                    <h2><img class="group_img" src="img/groups/common.png" alt="Group"/> <span class="group_title">Adapter-Group</span></h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>            
                    </ul>
                    <div class="clearfix"></div>
                </div>

                <div class="x_content adapterList">

                </div>

            </div>
        </div>
    </div>
</div>
<!-- / Group -->

<!-- Table -->
<div id="adapterTemplateTable" class="hidden">
    <div class="row">
        <table class="adapterTable"></table>
    </div>
</div>
<!-- / Table -->

<!-- Adapter -->
<div id="adapterTemplateAdapter" class="hidden">
    <div class="col-md-3 col-xs-12 widget widget_tally_box">
        <div class="x_panel fixed_height_390">
            <div class="x_content">

            </div>
        </div>
    </div>
</div>
<!-- / Adapter -->

<!-- New Adapter -->
<div id="adapterTemplateNewAdapter" class="hidden">
    <div class="col-md-3 col-xs-12 widget widget_tally_box">
        <div class="x_panel ui-ribbon-container fixed_height_390">
            <div class="ui-ribbon-wrapper">
                <div class="ui-ribbon">NEW!</div>
            </div>
            <div class="x_content fixed_height_360">

            </div>
        </div>
    </div>
</div>
<!-- / New Adapter -->

<!-- Adapter inside -->
<div id="adapterTemplateAdapterInside" class="hidden">
    <div class="fixed_height_360">
        <div class="flex">
            <ul class="list-inline widget_profile_box">
                <li>
                    <a href="javascript:;" class="adapter-install-submit" data-i18n-tooltip="add_instance">
                        <i class="fa fa-plus"></i>
                    </a>
                </li>
                <li>
                    <img src="img/smallLogo.png" alt="..." class="img-circle profile_img">
                </li>
                <li>
                    <a href="javascript:;" class="adapter-readme-submit show-md" data-i18n-tooltip="readme">
                        <i class="fa fa-question"></i>
                    </a>
                </li>
            </ul>
        </div>
        <h3 class="name">ioBroker Admin</h3>
        <p class="description">Opens a webserver for the ioBroker admin UI</p>
        <div class="tiles-footer">
            <h3 class="text-center bg-info">
                <span class="pull-left">
                    <small class="hidden installedInstanceSpan">
                        [<span class="installedInstances"></span>/<span class="activeInstances"></span>]
                    </small>
                </span>
                <span class="version">0.0.0</span>
                <small class="info-position">
                    <a href="javascript:;" class="hidden notesVersion" data-toggle="tooltip" title="infos"><i class="fa fa-info-circle text-info"></i></a>
                </small>
                <span class="pull-right">
                    <small>
                        <strong class="hidden installedVersion">0.0.0</strong>&nbsp;                    
                    </small>                    
                </span>
            </h3>
            <p class="text-center">
                <button class="adapter-update-submit btn btn-default" disabled data-i18n-tooltip="update_adapter"><i class="fa fa-download"></i></button>
                <button class="adapter-issue-submit btn btn-default" data-i18n-tooltip="issue_adapter"><i class="fa fa-bug"></i></button>
                <button class="adapter-delete-submit btn btn-default" disabled data-i18n-tooltip="delete_adapter"><i class="fa fa-trash"></i></button>
            </p>
            <p style="min-height: 12px;">
                <span class="pull-left"><small class="authors"></small></span>
                <span class="pull-right"><a href="javascript:;" class="license show-md">MIT</a></span>
            </p>
        </div>
    </div>
</div>
<!-- / Adapter inside -->

<!-- Issue Table -->
<div id="issueTable" class="hidden">
    <div class="x_content">
        <ul class="list-unstyled timeline">
        </ul>
    </div>
</div>
<!-- / Issue Table -->

<!-- Issue Table -->
<ul id="issueTableElement" class="hidden">
    <li>
        <div class="block">
            <div class="tags">                
            </div>
            <div class="block_content">
                <h2>
                    <a target="_blank" class="title">Something is wrong!</a>
                </h2>
                <div class="byline">
                    <span class="created">2017-01-06T20:33:28Z</span> by <span class="user">Jane Smith</span>
                </div>
                <p class="description">
                    I dont know
                </p>
            </div>
        </div>
    </li>
</ul>
<!-- / Issue Table -->