<div id="modal-template" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal-template" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" data-i18n="template">thisIstOnlyATemplateForNewDialogsCopyPasteAndChange</h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" data-i18n="close">close</button>
            </div>
        </div>
    </div>
</div>

<div id="modal-license" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal-license" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" data-i18n="licence">License</h4>
            </div>
            <div class="modal-body">
                <div id="license_language_label">
                    <label for="license_language" data-i18n="selectLanguage">Select language</label>
                    <select id="license_language"></select>
                </div>
                <input id="license_diag" type="checkbox"/><span id="license_checkbox" class="text-danger" data-i18n="license_checkbox">license_checkbox</span>
                <h3 id="license_terms" data-i18n="license_terms">License terms</h3>
                <div id="license_text" data-i18n="licenseText"></div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

<div id="modal-command" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal-command" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <i class="fa fa-window-minimize"></i>
                </button>
                <h4 class="modal-title" id="modal-command-label">Modal title</h4>
            </div>
            <div class="modal-body">
                <div id="adapter-meter" class="meter">
                    <span style="width: 1%;"></span>
                </div>
                <a data-toggle="collapse" href="#collapseApadpterInstallDetails" aria-expanded="false" aria-controls="collapseApadpterInstallDetails">
                    <span data-i18n="details">Details</span> ...
                </a>
                <div class="collapse" id="collapseApadpterInstallDetails">
                    <textarea class="command" id="stdout" disabled="disabled" cols="120" rows="30"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="adapter-install-close-btn" data-dismiss="modal" data-i18n="runBackgroud">Run on background</button>
            </div>
        </div>
    </div>
</div>

<div id="modal-config" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal-config" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="modal-config-label">Modal title</h4>
            </div>
            <div class="modal-body">
                <iframe style="border:0 solid #FFF; display:block; left:0; top:0; width: 100%; height: 100%" id="config-iframe" name="config-iframe"></iframe>
            </div>
            <div class="modal-footer">                
            </div>
        </div>
    </div>
</div>

<div id="modal-cron" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal-cron" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" data-i18n="cronTable">Cron Table</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="cron-input" data-i18n="cronValue">Cron Value</label>
                    <input type="text" id="cron-input" class="form-control cron-input" value="* * * * * *" />
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" id="cron-checkbox-seconds" class="cron-checkbox-seconds"> <span data-i18n="useseconds">Use seconds</span>
                    </label>
                </div>

                <div class="cron-main-tab" role="tabpanel">
                    <ul class="nav nav-tabs bar_tabs" role="tablist">
                        <li role="presentation">
                            <a href="#cron-tabs-second" role="tab" data-toggle="tab" data-i18n="second">Second</a>
                        </li>
                        <li role="presentation">
                            <a href="#cron-tabs-minute" role="tab" data-toggle="tab" data-i18n="minute">Minute</a>
                        </li>
                        <li role="presentation">
                            <a href="#cron-tabs-hour" role="tab" data-toggle="tab" data-i18n="hour">Hour</a>
                        </li>
                        <li role="presentation">
                            <a href="#cron-tabs-day" role="tab" data-toggle="tab" data-i18n="dayofmonth">Day of Month</a>
                        </li>
                        <li role="presentation">
                            <a href="#cron-tabs-month" role="tab" data-toggle="tab" data-i18n="month">Month</a>
                        </li>
                        <li role="presentation">
                            <a href="#cron-tabs-week" role="tab" data-toggle="tab" data-i18n="dayofweek">Day of Week</a>
                        </li>
                    </ul>
                    <div class="tab-content">

                        <div role="tabpanel" id="cron-tabs-second" class="tab-pane fade cron-tab-page cron-tab-second">
                            <div class="x_content">
                                <div class="col-xs-3">
                                    <ul class="nav nav-tabs tabs-left">
                                        <li id="cron-button-second-every"><a href="#cron-tabs-second-every" data-toggle="tab" data-i18n="croneverysecond">CRON Every second</a></li>
                                        <li id="cron-button-second-n"><a href="#cron-tabs-second-n" data-toggle="tab" data-i18n="everynseconds">Every n seconds</a></li>
                                        <li id="cron-button-second-each"><a href="#cron-tabs-second-each" data-toggle="tab" data-i18n="eachselectedsecond">Each selected second</a></li>
                                    </ul>
                                </div>
                                <div class="col-xs-9">
                                    <div class="tab-content">
                                        <div id="cron-tabs-second-every" class="tab-pane cron-preview">
                                            <div>*</div>
                                            <div data-i18n="croneverysecond">CRON Every second</div>
                                        </div>
                                        <div id="cron-tabs-second-n" class="tab-pane">
                                            <div class="cron-preview-every" data-i18n="croneverysecond">CRON Every second</div>
                                            <div class="cron-slider" data-arg="0"></div>
                                        </div>
                                        <div id="cron-tabs-second-each" class="tab-pane cron-preview-n">
                                            <div data-i18n="eachselectedsecond">Each selected second</div><br/>
                                            <div class="cron-tabs-format"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>                           
                        </div>

                        <div role="tabpanel" id="cron-tabs-minute" class="tab-pane fade cron-tab-page cron-tab-minute">
                            <div class="x_content">
                                <div class="col-xs-3">
                                    <ul class="nav nav-tabs tabs-left">
                                        <li id="cron-button-minute-every"><a href="#cron-tabs-minute-every" data-toggle="tab" data-i18n="croneveryminute">CRON Every minute</a></li>
                                        <li id="cron-button-minute-n"><a href="#cron-tabs-minute-n" data-toggle="tab" data-i18n="everynmenutes">Every n minutes</a></li>
                                        <li id="cron-button-minute-each"><a href="#cron-tabs-minute-each" data-toggle="tab" data-i18n="everyselectedminute">Each selected minute</a></li>
                                    </ul>
                                </div>
                                <div class="col-xs-9">
                                    <div class="tab-content">
                                        <div id="cron-tabs-minute-every" class="tab-pane cron-preview">
                                            <div>*</div>
                                            <div data-i18n="croneveryminute">CRON Every minute</div>
                                        </div>
                                        <div id="cron-tabs-minute-n" class="tab-pane">
                                            <div class="cron-preview-every" data-i18n="croneveryminute">CRON Every minute</div>
                                            <div class="cron-slider" data-arg="1"></div>
                                        </div>
                                        <div id="cron-tabs-minute-each" class="tab-pane cron-preview-n">
                                            <div data-i18n="eachselectedminute">Each selected minute</div><br/>
                                            <div class="cron-tabs-format"></div>
                                        </div>                                    
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>                           
                        </div>

                        <div role="tabpanel" id="cron-tabs-hour" class="tab-pane fade cron-tab-page cron-tab-hour">
                            <div class="x_content">
                                <div class="col-xs-3">
                                    <ul class="nav nav-tabs tabs-left">
                                        <li id="cron-button-hour-every"><a href="#cron-tabs-hour-every" data-toggle="tab" data-i18n="croneveryhour">CRON Every hour</a></li>
                                        <li id="cron-button-hour-n"><a href="#cron-tabs-hour-n" data-toggle="tab" data-i18n="everynhours">Every n hours</a></li>
                                        <li id="cron-button-hour-each"><a href="#cron-tabs-hour-each" data-toggle="tab" data-i18n="eachselectedhour">Each selected hour</a></li>
                                    </ul>
                                </div>
                                <div class="col-xs-9">
                                    <div class="tab-content">
                                        <div id="cron-tabs-hour-every" class="tab-pane cron-preview">
                                            <div>*</div>
                                            <div data-i18n="croneveryhour">CRON Every hour</div>
                                        </div>
                                        <div id="cron-tabs-hour-n" class="tab-pane">
                                            <div class="cron-preview-every" data-i18n="croneveryhour">CRON Every hour</div>
                                            <div class="cron-slider" data-arg="2"></div>
                                        </div>
                                        <div id="cron-tabs-hour-each" class="tab-pane cron-preview-n">
                                            <div data-i18n="">Each selected hour</div><br/>
                                            <div class="cron-tabs-format"></div>
                                        </div>                                
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>

                        <div role="tabpanel" id="cron-tabs-day" class="tab-pane fade cron-tab-page cron-tab-day">
                            <div class="x_content">
                                <div class="col-xs-3">
                                    <ul class="nav nav-tabs tabs-left">
                                        <li id="cron-button-day-every"><a href="#cron-tabs-day-every" data-toggle="tab" data-i18n="croneveryday">CRON Every day</a></li>
                                        <li id="cron-button-day-each"><a href="#cron-tabs-day-each" data-toggle="tab" data-i18n="eachselectedday">Each selected day</a></li>
                                    </ul>
                                </div>
                                <div class="col-xs-9">
                                    <div class="tab-content">
                                        <div id="cron-tabs-day-every" class="tab-pane cron-preview">
                                            <div>*</div>
                                            <div data-i18n="croneveryday">CRON Every day</div>
                                        </div>
                                        <div id="cron-tabs-day-each" class="tab-pane cron-preview-n">
                                            <div data-i18n="eachselectedday">Each selected day</div><br/>
                                            <div class="cron-tabs-format"></div>
                                        </div>                               
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>                           
                        </div>

                        <div role="tabpanel" id="cron-tabs-month" class="tab-pane fade cron-tab-page cron-tab-month">
                            <div class="x_content">
                                <div class="col-xs-3">
                                    <ul class="nav nav-tabs tabs-left">
                                        <li id="cron-button-month-every"><a href="#cron-tabs-month-every" data-toggle="tab" data-i18n="croneverymonth">CRON Every month</a></li>
                                        <li id="cron-button-month-each"><a href="#cron-tabs-month-each" data-toggle="tab" data-i18n="eachselectedmonth">Each selected month</a></li>
                                    </ul>
                                </div>
                                <div class="col-xs-9">
                                    <div class="tab-content">
                                        <div id="cron-tabs-month-every" class="tab-pane cron-preview">
                                            <div>*</div>
                                            <div data-i18n="croneverymonth">CRON Every month</div>
                                        </div>
                                        <div id="cron-tabs-month-each" class="tab-pane cron-preview-n">
                                            <div data-i18n="eachselectedmonth">Each selected month</div><br/>
                                            <div class="cron-tabs-format"></div>
                                        </div> 
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>

                        <div role="tabpanel" id="cron-tabs-week" class="tab-pane fade cron-tab-page cron-tab-week">
                            <div class="x_content">
                                <div class="col-xs-3">
                                    <ul class="nav nav-tabs tabs-left">
                                        <li id="cron-button-week-every"><a href="#cron-tabs-week-every" data-toggle="tab" data-i18n="croneveryweedday">CRON Every week day</a></li>
                                        <li id="cron-button-week-each"><a href="#cron-tabs-week-each" data-toggle="tab" data-i18n="eachselectedweekday">Each selected week day</a></li>
                                    </ul>
                                </div>
                                <div class="col-xs-9">
                                    <div class="tab-content">
                                        <div id="cron-tabs-week-every" class="tab-pane cron-preview">
                                            <div>*</div>
                                            <div data-i18n="croneveryweedday">CRON Every week day</div>
                                        </div>
                                        <div id="cron-tabs-week-each" class="tab-pane cron-preview-n">
                                            <div data-i18n="eachselectedweekday">Each selected week day</div><br/>
                                            <div class="cron-tabs-format"></div>
                                        </div>         
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">                
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modal-install-url" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal-install-url" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" data-i18n="installFromCustomURL">installFromCustomURL</h4>
            </div>
            <div class="modal-body">

                <div id="install-main-tab" role="tabpanel">
                    <ul id="install-tabs" class="nav nav-tabs bar_tabs" role="tablist">
                        <li role="presentation" class="active">
                            <a href="#install-github" role="tab" data-toggle="tab" data-i18n="fromGithub">From github</a>
                        </li>
                        <li role="presentation">
                            <a href="#install-custom" role="tab" data-toggle="tab" data-i18n="custom">Custom</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div role="tabpanel" id="install-github" class="tab-pane fade active in">
                            <div class="form-group">
                                <label for="install-github-link" data-i18n="selectAdapter">Select adapter</label>
                                <select class="form-control" id="install-github-link"></select>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" id="install-github-debug"> <span data-i18n="debugOutputs">Debug outputs</span>
                                </label>
                            </div>
                        </div>
                        <div role="tabpanel" id="install-custom" class="tab-pane fade">
                            <div class="form-group">
                                <label for="install-url-link" data-i18n="urlOrFilePath">URL or file path</label>
                                <input type="text" class="form-control" id="install-url-link"/>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" id="install-url-debug"> <span data-i18n="debugOutputs">Debug outputs</span>
                                </label>
                            </div>                            
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" id="dialog-install-url-button" class="btn btn-default" data-dismiss="modal" data-i18n="install">install</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" data-i18n="cancel">cancel</button>
            </div>
        </div>
    </div>
</div>

<div id="tabs-customs">
    <ul>
        <li><a href="#tab-customs-settings" data-i18n="">Settings</a></li>
        <li><a href="#tab-customs-table" data-i18n="">Table</a></li>
        <li><a href="#tab-customs-chart" data-i18n="">Chart</a></li>
    </ul>
    <div id="tab-customs-settings" style="height: calc(100% - 65px)">
        <div id="customs-tabs" style="width: 100%"></div>
        <div style="display: none" id="customs-templates"></div>
    </div>
    <div id="tab-customs-table" style="height: calc(100% - 65px); overflow-y: scroll">
        <div><label data-i18n="" for="history-table-instance">Show values of instance</label><select id="history-table-instance"></select></div>
        <table id="grid-history" style="width: 100%; max-height: calc(100% - 30px)">
            <thead>
            <col width="160" valign="top">
            <col width="60"  valign="top">
            <col width="80"  valign="top">
            <col width="140" valign="top">
            <col width="140" valign="top">
            <tr>
                <th class="translate ui-state-default">val</th>
                <th class="translate ui-state-default">ack</th>
                <th class="translate ui-state-default">from</th>
                <th class="translate ui-state-default">ts</th>
                <th class="translate ui-state-default">lc</th>
            </tr>
            </thead>
            <tbody id="grid-history-body">
            </tbody>
        </table>
    </div>
    <div id="tab-customs-chart" style="height: calc(100% - 65px)">
        <div><label data-i18n="" for="history-chart-instance">Show values of instance</label><select id="history-chart-instance"></select></div>
        <iframe id="iframe-history-chart" style="border: 0; overflow: hidden"></iframe>
    </div>
</div>


<div id="dialog-message" title="Message">
    <p>
        <span id="dialog-message-icon" class="ui-icon ui-icon-circle-check" style="float:left; margin:0 7px 50px 0;"></span>
        <span id="dialog-message-text"></span>
    </p>
</div>

<div id="dialog-confirm">
    <p>
        <span id="dialog-confirm-icon" class="ui-icon ui-icon-circle-check" style="float: left; margin:0 7px 50px 0;"></span>
        <span id="dialog-confirm-text"></span>
    </p>
</div>

<div id="dialog-host-update">
    <p><span>update-part1</span></p>
    <p>You can check changelog here</p>
    <textarea readonly id="dialog-host-update-instructions" style="width: 100%; height: 100px; resize: none;"></textarea>
</div>

<div id="dialog-cron">
    <div id="div-cron"></div>
</div>