<div id="enumsTemplate">    
    <div class="page-title">
        <div class="title_left">
            <div class="btn-group" role="group" aria-label="First group">
            </div>         
        </div>       
        <div class="title_right">
            <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">

                <div class="input-group">
                    <input type="text" class="form-control clearable" id="enums-filter" placeholder="Filter..." data-i18-attr="filter|placeholder">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" data-i18n="go">Go!</button>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="clearfix"></div>

    <div class="enums-container"></div>

</div>

<!-- Table -->
<div id="enumsTableTemplate" class="hidden">
    <div class="row">
        <div class="col-md-5 col-xs-10">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <b data-i18n="enums">Enums</b>
                </div>
                <div class="enumList panel-body fancytree-colorize-hover fancytree-fade-expander">
                </div>
                <div class="panel-footer">
                    <button class="btnExpandAll btn btn-xs btn-primary">Expand all</button>
                    <button class="btnCollapseAll btn btn-xs btn-warning">Collapse all</button>
                </div>
            </div>
        </div>
        <div class="col-xs-2">
             <div class="panel panel-default">
                <div class="panel-heading">
                    <b data-i18n="enumObjects">Objects in enum</b>
                </div>
                <div class="enumObjectList panel-body fancytree-colorize-hover fancytree-fade-expander">
                </div>
                <div class="panel-footer">&nbsp;</div>
            </div>
        </div>
        <div class="hidden-xs hidden-sm col-md-5">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <b data-i18n="objects">Objects</b>
                </div>
                <div class="objectListForEnum panel-body fancytree-colorize-hover fancytree-fade-expander">
                </div>
                <div class="panel-footer">
                    <button class="btnExpandAll btn btn-xs btn-primary">Expand all</button>
                    <button class="btnCollapseAll btn btn-xs btn-warning">Collapse all</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="hidden-xs hidden-sm col-md-12 text-center"> 
            <button type="button" class="btn btn-danger btn-circle btn-xl"><i class="glyphicon glyphicon-trash"></i></button>
        </div>
    </div>
</div>
<!-- / Table -->

<!-- Orbit -->
<div id="enumsOrbitTemplate" class="hidden">
    <div class="orbit-container">
        <ol class="orbit">
        </ol>    
    </div>
</div>
<!-- / Orbit -->