<div id="enumsTemplate">
    <div class="page-title">
        <div class="title_left">
            <div class="btn-group" role="group" aria-label="First group">
            </div>         
        </div>       
        <div class="title_right">
            <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">

                <div class="input-group">
                    <input type="text" class="form-control clearable" id="enums-filter" placeholder="Filter..." data-i18-attr="filter|placeholder">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" data-i18n="go">Go!</button>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="clearfix"></div>

    <div id="enums-container">
        <div class="orbit-container">
            <ul class="orbit">
                <li>Raum
                    <ul>
                        <li>Wohnzimmer
                            <ul><li class="orbitEnd">332</li></ul>
                        </li>
                        <li>Badezimmer
                            <ul><li class="orbitEnd">11</li></ul>
                        </li>
                        <li>Garage
                            <ul><li class="orbitEnd">32</li></ul>
                        </li>
                        <li>HWR</li>
                        <li>Kinderzimmer
                            <ul><li class="orbitEnd">12</li></ul>
                        </li>
                        <li>Claudias Zimmer
                            <ul><li class="orbitEnd">23</li></ul>
                        </li>
                    </ul>
                </li>
                <li>Gewerke
                    <ul>
                        <li>Licht
                            <ul><li class="orbitEnd">188</li></ul>
                        </li>
                        <li>Sicherheit
                            <ul><li class="orbitEnd">34</li></ul>
                        </li>
                        <li>Fenster
                            <ul><li class="orbitEnd">6</li></ul>
                        </li>
                        <li>Batterien
                            <ul><li class="orbitEnd">23</li></ul>
                        </li>
                    </ul>
                </li>
                <li>Favoriten
                    <ul>
                        <li>Test 1
                            <ul>
                                <li>Test 2
                                    <ul>
                                        <li>Test 3
                                            <ul><li class="orbitEnd">5</li></ul>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>