<div id="grid-events">

    <div class="page-title">
        <div class="title_left">
            <div class="btn-group" role="group" aria-label="First group">
                <button id="event-pause" class="btn btn-default" data-i18n-tooltip="pauseoutput"><i class="fa fa-pause"></i></button>
                <button id="event-clear" class="btn btn-default" data-i18n-tooltip="clearevent"><i class="fa fa-times"></i></button>
            </div>           
        </div>       
        <div class="title_right">            
        </div>
    </div>

    <div class="clearfix"></div>

    <div id="events-container">
        <div class="panel panel-default">
            <div class="panel-heading">
            </div>
            <table id="event-outer">
                <thead>
                    <tr>
                        <th data-i18n="event">event</th>
                        <th data-i18n="id">id</th>
                        <th data-i18n="val">val</th>
                        <th data-i18n="ack">ack</th>
                        <th data-i18n="from">from</th>
                        <th data-i18n="ts">ts</th>
                        <th data-i18n="lc">lc</th>
                        <th data-i18n="aa">aa</th>
                    </tr>
                    <tr>
                        <th class="overflow_visible"><select id="event-filter-type"></select></th>
                        <th><input id="event-filter-id" class="form-control clearable" type="text"/></th>
                        <th><input  id="event-filter-val" class="form-control clearable" type="text"/></th>
                        <th class="overflow_visible">
                            <select id="event-filter-ack">
                                <option value="" data-i18n="all">all</option>
                                <option value="true" data-i18n="ack">ack</option>
                                <option value="false" data-i18n="notack">notack</option>
                            </select>
                        </th>
                        <th class="overflow_visible"><select id="event-filter-from"></select></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="event-table"></tbody>
            </table>
            <div class="panel-footer">&nbsp;</div>
        </div>
    </div>

</div>