<div class="row">
    
    <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Update List <small>Instances to be updated</small></h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="">
                    <ul class="to_do">
                        <li>
                            <p><a class="btn btn-default"><i class="fa fa-refresh"></i></a> fronius adapter 0.0.6 <i class="fa fa-arrow-right"></i> <strong>0.1.0</strong></p> 
                        </li>
                        <li>
                            <p><a class="btn btn-default"><i class="fa fa-refresh"></i></a> vis adapter 1.0.6 <i class="fa fa-arrow-right"></i> <strong>2.1.0</strong></p> 
                        </li>
                        <li>
                            <p><a class="btn btn-default"><i class="fa fa-refresh"></i></a> homematic adapter 0.5.6 <i class="fa fa-arrow-right"></i> <strong>0.9.0</strong></p> 
                        </li>                    
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
</div>