<div id="hostsTemplate">
    <div class="page-title">
        <div class="title_left">
            <div class="btn-group" role="group" aria-label="First group">
                <button id="btn-hosts-reload" class="btn btn-default" data-i18n-tooltip="update"><i class="fa fa-refresh"></i></button>
            </div>  
        </div>
        <div class="title_right">
            <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                <input type="text" class="form-control clearable" id="hosts-filter" placeholder="Filter..." data-i18-attr="filter|placeholder">
            </div>
        </div>
    </div>

    <div class="clearfix"></div>

    <div class="row">
        <div class="col-md-12">
            <div class="">
                <div class="x_content">

                    <div id="hosts-container" class="row">

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<!-- Host -->
<div id="hostsTemplateTile" class="hidden">
    <div class="col-md-3 col-xs-12 widget widget_tally_box hosts-host">
        <div class="x_panel fixed_height_390">
            <div class="x_content">
                <div class="fixed_height_360">
                    <div class="flex">
                        <ul class="list-inline widget_profile_box_2">
                            <li>
                                <img class="host-led" src="img/leds/led_grey.png" alt="off" />
                            </li>
                            <li>
                                <i class="fa fa-4x host-image img-circle profile_img" ></i>
                            </li>
                            <li>
                                <img class="host-led" src="img/leds/led_grey.png" alt="off" />
                            </li>
                        </ul>
                    </div>
                    <h3 class="name">host0</h3>
                    <p class="title">ioBroker Admin</p>
                    <h3>
                        <span class="pull-left" data-i18n-tooltip="event-in"><i class="fa fa-sign-in"></i>&nbsp;<span class="event-in"></span></span>
                        <span class="pull-right" data-i18n-tooltip="event-out"><i class="fa fa-sign-out"></i>&nbsp;<span class="event-out"></span></span>
                    </h3>
                    <div class="tiles-footer">
                        <h3 class="text-center bg-info">
                            <span class="pull-left">
                            </span>
                            <span class="hosts-version-available">0.0.0</span>
                            <small class="info-position">
                                <a href="javascript:;" class="hidden notesVersion" data-toggle="tooltip" title="infos"><i class="fa fa-info-circle text-info"></i></a>
                            </small>
                            <span class="pull-right">
                                <small>
                                    <strong class="hidden installed">0.0.0</strong>&nbsp;                    
                                </small>                    
                            </span>
                        </h3>
                        <p class="text-center">
                            <button class="host-restart-submit btn btn-default" disabled data-i18n-tooltip="restart_host"><i class="fa fa-refresh"></i></button>
                            <button class="host-update-submit btn btn-default hidden" data-i18n-tooltip="update_host"><i class="fa fa-download"></i></button>
                            <button class="host-update-hint-submit btn btn-default hidden" data-i18n-tooltip="update_host"><i class="fa fa-download"></i></button>
                        </p>
                        <p class="tiles-footer-footer" style="min-height: 12px;">
                            <span class="pull-left"><small class="type"></small></span>
                            <span class="pull-right"><small class="platform"></small></span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- / Host -->
