<div class="row">
    <div class="page-title">
        <div class="title_left">
            <h3 data-i18n="hosts">Hosts</h3>
        </div>

        <button id="btn-hosts-reload" class="btn btn-default" data-i18n-tooltip="update"><i class="fa fa-refresh fa-lg"></i></button>
        <div>
            <label class="translate" style="display: inline-block" for="hosts-filter">Filter:</label>
            <input style="display: inline-block; width: 100px; margin-right: 3px" id="hosts-filter">
            <button style="display: inline-block" id="hosts-filter-clear"></button>
        </div>

        <table class="hosts-table">
            <thead id="grid-hosts-head">
                <tr>
                    <th class="translate ui-widget-header"></th>
                    <th class="translate ui-widget-header">name</th>
                    <th class="translate ui-widget-header">type</th>
                    <th class="translate ui-widget-header">title</th>
                    <th class="translate ui-widget-header">platform</th>
                    <th class="translate ui-widget-header">os</th>
                    <th class="translate ui-widget-header">available</th>
                    <th class="translate ui-widget-header">installed</th>
                    <th class="translate ui-widget-header">events</th>
                </tr>
            </thead>
            <tbody id="grid-hosts">
            </tbody>
        </table>
    </div>
</div>
