<div id="modal-info" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal-info" aria-hidden="true" >
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" data-i18n="info">Info</h4>
            </div>
            <div class="modal-body">                
                <p data-i18n-html="informationText"></p>
                <hr/>
                <p data-i18n-html="licenseText"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" data-i18n="close">Close</button>
            </div>
        </div>
    </div>
</div>
