<div id="instancesTemplate">
    <div class="page-title">
        <div class="title_left">
            <div class="btn-group" role="group" aria-label="First group">
                <button id="btn-instances-expert-mode" class="btn btn-default" data-i18n-tooltip="expert-mode"><i class="fa fa-flask"></i></button>
                <button id="btn-instances-reload" class="btn btn-default" data-i18n-tooltip="reload"><i class="fa fa-refresh"></i></button>
                <button id="btn-instances-form" class="btn btn-default" data-i18n-tooltip="list"><i class="fa fa-list"></i></button>
            </div>  
        </div>
        <div class="title_right">
            <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                <input type="text" class="form-control clearable" id="instances-filter" placeholder="..." data-i18n-attr="filter|placeholder">
            </div>
        </div>
    </div>

    <div class="clearfix"></div>

    <div class="row">
        <div class="col-md-12">
            <div class="">
                <div class="x_content">

                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="tile-stats">
                                <div class="icon"><i class="fa fa-microchip"></i>
                                </div>
                                <div class="count">
                                    <span id="instancesFreeMemPercent">10%</span>
                                    <span id="instancesFreeMemSparkline"></span>
                                </div>
                                <h3 data-i18n="freeMem">free RAM</h3>
                                <p>
                                    <span id="instancesTotalRamText">Von 900 MB RAM sind noch 120 MB frei.</span> 
                                </p>
                            </div>
                        </div>            
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="tile-stats">
                                <div class="icon"><i class="fa fa-tasks"></i>
                                </div>
                                <div class="count" id="instancesRunningProcesses"></div>
                                <h3 data-i18n="running_processes">running processes</h3>
                                <p>
                                    <span data-i18n="host">Host</span>: 
                                    <span id="instancesCurrentHost"></span>
                                </p>
                            </div>
                        </div>                       
                    </div>

                    <div id="instances-container" class="row">

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<!-- Table -->
<div id="instancesTemplateTable" class="hidden">
    <div class="row">
        <table class="adapterTable"></table>
    </div>
</div>
<!-- / Table -->

<!-- Instances -->
<div id="instancesTemplateTile" class="hidden">
    <div class="col-md-3 col-xs-12 widget widget_tally_box instance-adapter">
        <div class="x_panel fixed_height_390">
            <div class="x_content">
                <div class="fixed_height_360">
                    <div class="flex">
                        <ul class="list-inline widget_profile_box_2">
                            <li>
                                <img class="instance-led-l" src="img/leds/led_grey.png" alt="off" />
                            </li>
                            <li>
                                <img src="img/no-image.png" alt="..." class="img-circle profile_img" onerror="this.src='img/no-image.png'" />
                            </li>
                            <li>
                                <img class="instance-led-r" src="img/leds/led_grey.png" alt="off" />
                            </li>
                        </ul>
                    </div>
                    <h3 class="name">admin.0</h3>
                    <p class="description">ioBroker Admin</p>
                    <div>
                        <dl class="dl-horizontal">
                            <dt data-i18n="schedule">schedule</dt>
                            <dd class="instance-schedule">12123</dd>
                            <dt data-i18n="restartSchedule">restartSchedule</dt>
                            <dd class="instance-restartSchedule">12123</dd>
                            <dt data-i18n="loglevel">loglevel</dt>
                            <dd class="instance-loglevel">12123</dd>
                            <dt data-i18n="memoryLimitMB">memoryLimitMB</dt>
                            <dd class="instance-memoryLimitMB">12123</dd>
                            <dt data-i18n="memUsage">memUsage</dt>
                            <dd class="instance-memUsage">12123</dd>
                        </dl>
                    </div>
                    <div class="tiles-footer">
                        <p class="text-center">
                            <button class="instance-stop-run btn"><i class="fa instance-stop-run-icon"></i></button>
                            <button class="instance-settings btn btn-default" data-i18n-tooltip="instance_settings"><i class="fa fa-gear"></i></button>
                            <button class="instance-reload btn btn-default" data-i18n-tooltip="instance_reload"><i class="fa fa-repeat"></i></button>
                            <button class="instance-del btn btn-default" data-i18n-tooltip="instance_del"><i class="fa fa-trash"></i></button>
                            <button class="instance-web btn btn-default" data-i18n-tooltip="instance_web"><i class="fa fa-globe"></i></button>
                        </p>
                        <p class="tiles-footer-footer" style="min-height: 12px;">
                            <span class="pull-left">&nbsp;</span>
                            <span class="pull-right">&nbsp;</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- / Instances -->