<table style="width: 100%; height: 30px">
    <tr>
        <td><button id="btn-instances-expert-mode"></button></td>
        <td><button id="btn-instances-reload"></button></td>
        <td style="padding-left: 100px"><label class="translate" style="display: inline-block" for="instances-filter">Filter:</label></td>
        <td><input style="display: inline-block; width: 100px; margin-right: 3px" id="instances-filter"></td>
        <td><button style="display: inline-block" id="instances-filter-clear"></button></td>
        <td style="width: 100%"></td>
        <td style="white-space: nowrap"><span class="translate">RAM total usage:</span> <span id="totalRam" style="font-weight: bold"></span> <span class="translate">MB</span> <span class="free-mem-label">/</span> <span class="translate free-mem-label">Free RAM:</span> <span id="freeMem" style="font-weight: bold"></span> <span class="translate free-mem-label">MB</span> <span id="freeMemPercent" style="font-weight: bold"></span> [<span class="translate">Host</span>: <span id="currentHost" style="font-weight: bold"></span> - <span id="running_processes"></span>]</td>
    </tr>
</table>

<div style="width: 100%; height: calc(100% - 30px); overflow: auto">
    <table class="instance-table" style="width: 100%;">
        <thead id="grid-instances-head">
        </thead>
        <tbody id="grid-instances">
        </tbody>
    </table>
</div>
