<div id="logTemplate">
    <div class="page-title">
        <div class="title_left">
            <div class="btn-group" role="group" aria-label="First group">
                <button id="log-pause" class="btn btn-default" data-i18n-tooltip="Pause output"><i class="fa fa-pause"></i></button>
                <button id="log-refresh" class="btn btn-default" data-i18n-tooltip="Refresh log"><i class="fa fa-refresh"></i></button>
                <button id="log-copy" class="btn btn-default" data-clipboard-target="#log-table" data-i18n-tooltip="Copy log"><i class="fa fa-files-o"></i></button>
                <button id="log-clear" class="btn btn-default" data-i18n-tooltip="Clear log"><i class="fa fa-times"></i></button>
                <button id="log-clear-on-disk" class="btn btn-danger" data-i18n-tooltip="Clear on disk permanent"><i class="fa fa-trash"></i></button>
            </div>           
        </div>       
        <div class="title_right">
            <h4 id="log-size"></h4>
        </div>
    </div>

    <div class="clearfix"></div>

    <div id="log-container">

        <table id="log-outer" class="table table-striped">
            <thead>
                <tr>
                    <th class="overflow_visible">
                        <select id="log-filter-host">
                            <option value="" data-i18n="all">all</option>
                        </select>
                    </th>
                    <th></th>
                    <th class="overflow_visible">
                        <select id="log-filter-severity" data-width="100px">
                            <option value="" data-i18n="debug">debug</option>
                            <option value="info" data-i18n="info">info</option>
                            <option value="warn" data-i18n="warn">warn</option>
                            <option value="error" data-i18n="error">error</option>
                        </select>
                    </th>
                    <th>
                        <input type="text" class="form-control clearable" id="log-filter-message" placeholder="..." data-i18n-attr="filter|placeholder">
                    </th>
                </tr>
                <tr>
                    <th data-field="from" data-i18n="from"></th>
                    <th data-field="ts" data-i18n="ts"></th>
                    <th data-field="severity" data-i18n="severity"></th>
                    <th data-field="message" data-i18n="message"></th>
                </tr>
            </thead>
            <tbody id="log-table"></tbody>
        </table>

    </div>

</div>