<div id="statesTemplate">

    <div class="page-title">
        <div class="title_left">
        </div>
        <div class="title_right">
        </div>
    </div>

    <div class="clearfix"></div>

    <div id="states-container" class="row">
        <table id="states-outer" class="table table-striped sortable">
            <thead>
                <tr>
                    <th data-i18n="id"></th>
                    <th data-i18n="parent_name"></th>
                    <th data-i18n="name"></th>
                    <th data-i18n="val"></th>
                    <th data-i18n="ack"></th>
                    <th data-i18n="from"></th>
                    <th data-i18n="ts"></th>
                    <th data-i18n="lc"></th>
                </tr>
            </thead>
            <tbody id="states-tbody"></tbody>
        </table>
    </div>

</div>