.command {
    font-family: courier monospace; 
    font-size: 11px; 
    resize: none
}

.group_img{
    height: 40px;
}

.host-image{
    padding-left: 18px !important;
    padding-top: 12px !important;
}